name: packages/elixir

on:
  push:
    branches: [master]
    paths:
      - "packages/elixir/**"
      - ".github/workflows/**"
  pull_request:
    branches: [master]
    paths:
      - "packages/elixir/**"
      - ".github/**"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      directory: ./packages/elixir
      HEX_API_KEY: ${{secrets.HEX_API_KEY}}

    services:
      postgres:
        image: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
        env:
          POSTGRES_PASSWORD: password

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup elixir
        uses: erlef/setup-elixir@v1
        with:
          experimental-otp: true
          elixir-version: 1.11.x # Define the elixir version [required]
          otp-version: 22.x # Define the OTP version [required]
      - name: Cache deps
        uses: actions/cache@v1
        with:
          path: ${{env.directory}}/deps
          key: deps-${{ hashFiles('${{env.directory}}/mix.lock') }}
          restore-keys: |
            deps-

      - name: Cache build
        uses: actions/cache@v1
        with:
          path: ${{env.directory}}/_build
          key: build-${{github.ref}}-${{github.sha}}
          restore-keys: |
            build-${{github.ref}}-
            build-

      - name: Install Dependencies
        run: mix deps.get
        working-directory: ${{env.directory}}

      - name: Compile
        run: mix compile
        working-directory: ${{env.directory}}

      - name: Run Tests
        run: mix test
        working-directory: ${{env.directory}}

      - name: Publish
        if: github.ref == 'refs/heads/master'
        run: mix hex.publish --yes
        working-directory: ${{env.directory}}
